@model IlanVerDTO

<div class="row pb-6">
	<div class="col-lg-3 col-sm-6">
		<div class="row p-1">
			<div class="col-12 p-1">
				<div class="card border-0 p-3 shadow border-top border-5 rounded">
					@* @if (product.ProductImages != null && product.ProductImages.Count() > 0)
					{
					<img src="@product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" />
					}
					else
					{

					} *@
					<img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
					<div class="card-body pb-0">
						<div class="pl-1">
							<p class="card-title h4 text-dark opacity-75 text-uppercase text-center">@Model.ReferansIlan.DogName</p>
							<p class="card-title h5 text-dark opacity-75 text-uppercase text-center"><b>@Model.ReferansIlan.DogAge</b> years old</p>
						</div>
						<div class="pl-1">
							<p class=" h5 text-dark text-opacity-75 text-center mb-0">Dog Type : <span>@Model.ReferansIlan.DogType</span></p>
						</div>
						<div class="pl-1">
							<p class="card-title text-warning text-center">Date : <b>@Model.ReferansIlan.DogStartTime   @Model.ReferansIlan.DogEndTime</b></p>
						</div>
					</div>
					<div class="pl-1">
						<a asp-controller="Kopek" asp-action="Details" asp-route-Id="@Model.ReferansIlan.Id" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8 col-sm-6">
		<form method="post">
			<input asp-for="@Model.ReferansIlan.Email" hidden />
			@* @Html.AntiForgeryToken() *@
			<div class="row pb-2">
				<h3 class="text-primary">Teklifte Bulun</h3>
			</div>
			<div asp-validation-summary="All"></div>
			<div class="mb-3 row">
				<label asp-for="TeklifIlan.Name"></label>
				<input asp-for="TeklifIlan.Name" type="text" class="form-control"/>
				<span asp-validation-for="TeklifIlan.Name" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="TeklifIlan.TeklifFİyat"></label>
				<input asp-for="TeklifIlan.TeklifFİyat" type="text" class="form-control" />
				<span asp-validation-for="TeklifIlan.TeklifFİyat" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="TeklifIlan.Not"></label>
				<input asp-for="TeklifIlan.Not" type="text" class="form-control" />
				<span asp-validation-for="TeklifIlan.Not" class="text-danger"></span>
			</div>
			<div class="mb-3 row">
				<label asp-for="TeklifIlan.PhoneNumber"></label>
				<input asp-for="TeklifIlan.PhoneNumber" type="text" class="form-control" />
				<span asp-validation-for="TeklifIlan.PhoneNumber" class="text-danger"></span>
			</div>
			<div class="row">
				<div class="col-4">
					<button type="submit" class="btn btn-primary form-control">Teklif Et</button>
				</div>
				<div class="col-4">
					<a asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">İlanlara git</a>
				</div>
			</div>
		</form>
	</div>
</div>